html{
    width: 100%;
    min-width: 960px;
    overflow-x:hidden;
}
body{
     background: url('../img/back.jpg') no-repeat top center black;
    font-family: "GillSans-Regular", "Carme", Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    overflow-y: auto;
    min-width: 960px;
    position: relative;
}



body.loaded{
    background: url('../img/back.jpg') no-repeat top center black;
    margin-right: 0px !important;
}

p {
    margin-bottom: 1em;
    line-height: 1.2em;
}

.clr{
    clear: both;
}

.button {
    background: url(../img/button.png) no-repeat transparent 0 0;
    padding: 0px 18px;
    text-align: center;
    width: 172px;
    display: block;
    font-size: 17px;
    color: #fff7af;
    position: absolute;
    bottom: 30px;
    right: 30px;
    line-height: 48px;
}
.button:hover {
    background-position:0 -49px;
    color: #ffffff;
}


#grad-left{
    position: absolute;
    width: 231px;
    background :url('../img/grad-left.png') repeat-y transparent;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
}
#grad-right{
    position: absolute;
    width: 231px;
    background: url('../img/grad-right.png') repeat-y transparent;
    height: 100%;
    z-index: 9;
    right: 0;
    top: 0;
}



/*top*/
#top{
    width: 100%;
    background: url('../img/top-back.png') repeat-x #000;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#top ul {
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    float: left;
    margin:0px;
}
#top li {
    display: inline;
}

#top-wrapper {
    width: 900px;
    margin: 0 auto;
}

#sts-logo {
    margin: 6px 105px 0 6px;
    display: block;
    float: left;
    img{
        vertical-align: top;
    }
}

#top-menu li:first-child {
    background: url(../img/nav-sep.png) no-repeat 0 0px;
    padding: 11px 0;
}
#top-menu li a {
    padding: 11px 30px 11px 25px;
    color: #fff;
    background: url(../img/nav-sep.png) no-repeat right center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 30px;
}
#top-menu li a:hover {
    color: #ddd;
}

#social {
    margin-left: 5px;
}
#social li a {
    margin-left: 15px;
}



/*wrapper*/

#wrapper{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}





/*header*/
#header {
    position: relative;
    height: 631px;
    width: 1200px;
    margin: 0 auto;
    top: -32px;
}


#badges {
    position: relative;
    z-index: 10;
    left: 150px;
    top: 32px;
    width: 100%;
    ul{
        list-style: none;
        margin:0;
        margin: 16px 0 0 32px;
        padding:0;
        position: absolute;
        top: 82px;
    }
}
#playnow {
    display: block;
    width: 177px;
    margin: 37px 0 0 3px;
    position: absolute;
    top: 30px;
    right: 320px;
}

#badges h4.myth {
    font-size: 16px;
    margin: 6px 0 0 32px;
    position: absolute;
    top: 64px;
}

#badges h5.myth {

    font-size: 14px;
    margin: 6px 0 0 32px;
    position: absolute;
    top: 385px;
    left: 0;
}
#badges ul.cs_list {
    margin: 16px 0 0 32px;
    position: absolute;
    top: 397px;
}
/*
#badges h5.myth.narrower {
    top: 217px;
    left: 150px;
    font-size: 16px;
}
#badges ul.cs_list.narrower {
    top: 232px;
    left: 150px;
}*/

#badges ul li {
    margin: 0 0 3px 0;
}


#chars {
    position: absolute;
    top: 35px;
    left: -6px;
    width: 100%;
    height: 100%;
}

#chars div {
    position: absolute;
}
#sorcerer {
    top: 150px;
    left: 110px;
}
#warrior {
    top: 46px;
    left: 270px;
}
#dragon {
    top: -25px;
    left: 482px;
}
#rouge {
    top: 138px;
    left: 537px;
}
#wolf {
    top: 253px;
    left: 648px;
}


#logo {
    position: absolute;
    top: 35px;
    left: -20px;
    z-index: 4;
}


/*content*/

#content{
    position: relative;
    margin: 24px auto;
}

#branch-left{
    position: absolute;
    top: -45px;
    left: -571px;
    z-index: 8;
}
#branch-right{
    position: absolute;
    top: -37px;
    right: -641px;
    z-index: 8;
}

#content p {
    color: #481100;
    text-align: justify;
}
.cont{
    padding: 98px 20px 0 35px;
    background: url('../img/cont-back.png') no-repeat top center transparent;
    height: 521px;
    margin-bottom: 15px;
    position: relative;
}
.title {
    font-size: 30px;
    text-align: center;
    color: #361400;
    width: 100%;
    background: url('../img/scroll.png') no-repeat center top transparent;
    line-height: 106px;
    position: absolute;
    top: 65px;
    left: 3px;
}
.title img {
    position: absolute;
    top: -68px;
    left: 45%;
}
.frame {
    background: url(../img/player-canvas.png) no-repeat 0 0;
    width: 480px;
    height: 397px;
}
.frame img {
}
.video_frame{
    background: url(../img/video-frame.png) no-repeat 0 0;
    width: 484px;
    height: 336px;

}
.video_frame img{
    margin: 12px 13px;
}
.cont-left {
    float: left;
}
.cont-right {
    float: right;
    margin-right: 20px;
}


#live {
    background: url('../img/live-back.jpg') no-repeat bottom center transparent;
}

#live .cont-left {
    width: 297px;
    margin: 105px 20px 0 15px;
}
#live .button {
    position: static;
}

#video {
    margin-top: 95px;
}

#video iframe {
    margin: 13px 16px;
}


#pets_wrapper {
    width: 792px; height:248px;
    margin: 60px auto 0 auto;
}
#pets {
    width: 100%;
}
#pets li {
    float: left;
    position: relative;
    margin: 0 0 15px 0;
    width: 264px;
    height: 262px;
    background: url('../img/slider-frame.png') no-repeat 0 21px transparent;
}
#pets li h3.myth {
    text-align: center;
    position: absolute;
    bottom: 28px;
    width: 100%;
    font-size: 28px;
}
#pets li img{
    position: absolute;
}
#pets li img.wolf{
    top: -2px;
    left: 22px;
}

#pets li img.panther{
    top: 0px;
    left: 37px;
}
#pets li img.drake{
    top: 0px;
    left: -3px;
}
#pets li img.owl {
    top: 39px;
    left: 8px;
}
#pets li img.deer {
    top: 13px;
    left: 54px;
}
#pets li img.ram {
    top: 5px;
    left: 72px;
}
#pets li img.frog {
    top: 23px;
    left: 49px;
}
#pets li img.dodo {
    top: 11px;
    left: 8px;
}
#pets li img.turtle {
    top: -2px;
    left: 13px;
}

#pets123 {
    width: 100%;
}
#pets123 li {
    float: left;
    position: relative;
    margin: 0 0 15px 0;
    width: 264px;
    height: 262px;
    background: url('../img/slider-frame.png') no-repeat 0 21px transparent;
}
#pets123 li h3.myth {
    text-align: center;
    position: absolute;
    bottom: 28px;
    width: 100%;
    font-size: 28px;
}
#pets123 li img{
    position: absolute;
}
#pets123 li img.wolf{
    top: -2px;
    left: 22px;
}

#pets123 li img.panther{
    top: 0px;
    left: 37px;
}
#pets123 li img.drake{
    top: 0px;
    left: -3px;
}
#pets123 li img.owl {
    top: 39px;
    left: 8px;
}
#pets123 li img.deer {
    top: 13px;
    left: 54px;
}
#pets123 li img.ram {
    top: 5px;
    left: 72px;
}
#pets123 li img.frog {
    top: 23px;
    left: 49px;
}
#pets123 li img.dodo {
    top: 11px;
    left: 8px;
}
#pets123 li img.turtle {
    top: -2px;
    left: 13px;
}

#pet {
    background: url('../img/pets-back.jpg') no-repeat bottom center transparent;
    padding-top: 116px;
    margin-bottom: 25px;
}
#pet .title {
    top: 78px;
}
#pet p {
    padding: 0 20px;
}
/*pet tablet*/
#pet.tablet .bx-prev {
    background: url(../img/pets-tab-left.png) no-repeat 0 0 transparent;
    width: 22px;
    height: 260px;
    top: 7%;
    left: -25px;
}
#pet.tablet .bx-next {
    background: url(../img/pets-tab-right.png) no-repeat 0 0;
    width: 22px;
    height: 260px;
    top: 7%;
    right: -1px;
}
#pet.tablet .bx-next:hover, #pet.tablet .bx-prev:hover{
    background-position:0 0;
}
#pet.tablet {
    padding: 116px 0 0 0;
}
#pet.tablet #pets_wrapper {
    width: 875px;
    left: 0;
    position: relative;
    padding-left: 25px;
}
#pet.tablet .bx-wrapper .bx-viewport {
    /*margin: 0 auto;
    padding-left: 25px;
    width: 875px !important;*/
}
#pet.tablet .bx-wrapper {
}

#pet.tablet li{
    margin-right: 10px;
}

/*carousel arrows*/

/*next button*/
#pet .bx-next {
    position:absolute;
    top: 45%;
    right: 20px;
    z-index:999;
    width: 30px;
    height: 46px;
    text-indent: -999999px;
    background: url(../img/arrow-right.png) no-repeat 0 0;
}

/*previous button*/
#pet .bx-prev {
    position:absolute;
    top: 45%;
    left: 20px;
    z-index:999;
    width: 30px;
    height: 46px;
    text-indent: -999999px;
    background: url(../img/arrow-left.png) no-repeat 0 0;
}
#pet .bx-next:hover{
    background-position:0 -46px;
}
#pet .bx-prev:hover{
    /*background-position:0 -46px;*/
}
#explore{
    background: url('../img/explore-back.jpg') no-repeat bottom center transparent;
}
#explore .title {
    font-size: 32px;
}
#explore .button {

}


#explore p {
    font-size: 16px;
}
#explore .cont-left {
    margin: 90px 23px 0 15px;
}
#explore .cont-right {
    width: 300px;
    margin-top: 100px;
}
/*slider*/
#slider li {
    float: left !important;
}
#slider_wrapper {
    padding: 14px 16px;
}
.thumbs {
    padding-top: 5px;
    clear: both;
    width: 84%;
    margin: 0 auto;
}
.thumbs a {
    width: 70px;
    height: 48px;
    background: url(../img/gal-thumb-frame.png) no-repeat transparent;
    display: block;
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}
.thumbs .pager-active img {
  /*  opacity:0.5;*/
}

.mpat
{
bottom: 28px;
    font-size: 28px;
    position: absolute;
    text-align: center;
    width: 100%; bottom: 28px;
    font-size: 28px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin:0;
}






#footer{
    background: url(../img/footer-back.png) no-repeat center 31px;
    margin: 105px auto 25px auto;
    width: 674px;
    height: 290px;
}
#footer p {
    text-align: center;
    color: #393838;
    font-family: Georgia,'Times New Roman', serif;
    font-size: 16px;
}
.copyright {
    clear: both;
}

.othergames {
    margin-left: 29px;
}
.othergames a {
    margin: 0 20px 15px 20px;
    display: block;
    float: left;
    position: relative;
    width: 174px;
    height: 112px;
}
.othergames a img {
    position: absolute;
    top: 0;
    left: 0;
}
.othergames a:first-child {
    width: 159px;
}
.othergames a img.txt {

}

/*header changed*/
#chars img {
    position: absolute;
    z-index: 1;
}
#chars img.active{
    z-index:3
}

#loader {
    position: absolute;
    top: 250px;
    left: 50%;
}

div.fancybox-overlay.fancybox-overlay-fixed{
    overflow:hidden;
}

/*popup*/
#popup_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
#popup {
    width: 646px;
    height: 248px;
    margin: 181px auto;
    background: url(../img/popup-back.jpg) no-repeat transparent;
    padding: 50px 50px 0 50px;
    position: relative;
}
.closepop {
    display: block;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 10px;
    background: url(../img/popup-close.png) no-repeat transparent;
    top: 20px;
}
.leftpop {
    width: 40%;
    float: left;
}
#popup h4.myth {
    font-size: 24px;
}
#popup a {
    margin-right: 10px;
}
.bottompop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    clear: both;
}
#popup .bottompop a {
    margin: 0;
    text-decoration: underline;
    color: #000;
}
#popup p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 31px 18px 15px 0;
}
.rightpop {
    float: right;
    width: 60%;
}
#popup .rightpop p {
    padding-right: 5px;
}
#popup .bottompop p {
    padding-top: 20px;
    text-align: center;
}

.slider31{
display:none;
}
.slider31 img
{
width: 350px;
}
.slider31 li {
 background:#FFFFD7;
    border: 1px solid #CA9F37;
    border-radius: 9px 9px 9px 9px;
    margin: 5px;
    padding: 10px;
}


.slider31 ul {
    float: left;
    list-style: none outside none;
    margin-left: -723px;
 padding:0px;
}
.slider32{
display:block;
}
.slider32 img
{
width: 350px;
}
.slider32 li {
 background:#FFFFD7;
    border: 1px solid #CA9F37;
    border-radius: 9px 9px 9px 9px;
    margin: 5px;
    padding: 10px;
}


.slider32 ul {
    float: left;
    list-style: none outside none;
    margin-left: -723px;
 padding:0px;
}
#left_rgt_ar
{
display:block;
}
/*MOBILE*/
/*mobile 480 */
html#s_1 {
    min-width: 480px;
    max-width: 480px;
}
#s_1 body {
    background: #000;
    min-width: 480px;
    max-width: 480px
}
#s_1 #top-wrapper {
    width: 480px;
}
#s_1 #sts-logo {
    float: none;
    text-align: center;
    margin: 6px auto 2px auto;
}
#s_1 .slider31{
display:block;
}
#s_1 #top {
    background: url('../img/top-back-480.png') repeat-x black;
    height: 55px;
}
#s_1 #top #social {
    display: none;
}

#s_1 #top-menu {
    float: none;
    text-align: center;
}
#s_1 #top-menu li a {
    padding: 0px 25px;
    font-size: 14px;
    background: #000;
    line-height: 20px;
    border-right: 1px solid #fff;
}
#s_1 #top-menu li:first-child {
    padding: 0;
    background: none;
}
#s_1 #top-menu li:last-child a {
    border-right: none;
}
#s_1 #header {
    top: 0px;
    width: 480px;
    height: 445px;
}
#s_1 #playnow img {
    width: 100%;
}
#s_1 #badges {
    left: 0;
}
#s_1 #playnow {
    width: 120px;
    margin: 0;
    top: 40px;
    right: 25px;
}
#s_1 #badges h4.myth {
    top: 40px;
    margin: 6px 0 0 12px;
}
#s_1 #badges ul {
    top: 60px;
    margin: 16px 0 0 12px;
}
#s_1 #badges ul.cs_list {
    right: 45px;
}
#s_1 #badges h5.myth {
    top: 40px;
    left: 292px;
}
#s_1 #chars {
    top: 60px;
    left: 0px;
}
#s_1 #chars img {
    width: 100%;
    left: 0 !important;
}


#s_1 #wrapper {
    max-width: 480px;
}

#s_1 #branch-right {
    width: 50%;
    right: -50px;
    z-index: 0;
}
#s_1 #branch-left {
    width: 50%;
    left: -54px;
    z-index: 0;
}
#s_1 .title img {
    width: 70px;
    top: -42px;
    left: 42%;
}
#s_1 #live.cont {
    padding: 10px 15px 0 15px;
    height: 672px;
    background: url('../img/pets-back.jpg') no-repeat bottom center transparent;
    background-size: 236%;
}
#s_1 #content {
    margin: 0 auto;
}
#s_1 .title {
    width: 88%;
    background-size: 100%;
    font-size: 25px;
    left: 5%;
    top: 2%;
    line-height: 95px;
}
#s_1 .video_frame {
    width: 95%;
    background-size: 100%;
    height: 288px;
}
#s_1 .video_frame img {
    width: 94%;
    margin: 11px 0 0 11px;
}
#s_1 #video {
    margin: 105px auto 0 auto;
    width: 97%;
}
#s_1 #live .cont-left {
    width: 90%;
    margin: 15px;
}
#s_1 .button {
    margin: 0 auto;
    position: static;

}

#s_1 #pet .title {
    top: 8%;
}
#s_1 #pets_wrapper {
    width: 149%;
    margin: 90px 0 20px -181px;
}
#s_1 #pets_wrapper .bx-controls{

    display: none;
}
#s_1 #pet {
    padding-top: 60px;
    height: 610px;
    background-size: 220%;
    margin-bottom: 0px;
}
#s_1 #pet p {
    padding: 0px 20px 0px 0;
}


#s_1 #explore .title {
    top: 9%;
}
#s_1 #explore {
    padding: 60px 40px 0 20px;
    height: 704px;
    background: url('../img/pets-back.jpg') no-repeat bottom center transparent;
    background-size: 250%;
}
#s_1 #explore .cont-left {
    margin: 100px 5px 0 0; height:300px;
}
#s_1 .frame {
display:none;
background:none;
   /* width: 100%;
    background: none;
    height: 269px;*/ position:relative; left:-20px; margin-top:10px;
}
#s_1 #slider_wrapper li {
    position: relative!important;
    background: url('../img/video-frame.png') no-repeat top center transparent;
    width: 375px !important;
    height: 267px;
    background-size: 100%;
    display: block !important;
    opacity: 1 !important;
    margin: -8px 10px 0px 10px;
}
#s_1 .bx-window {
    width: 1825px !important;
    height: 250px !important;
    left: -55px;
}
#s_1 .bx-wrapper {
    width: 100% !important;
    position: static !important;
}
#s_1 #slider_wrapper .bx-viewport {
    overflow: visible !important;
}
#s_1 #slides{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 0px !important;
}

#s_1 #slides img {
    padding-left: 12px;
    padding-right: 12px;
    width: 420px;
}

#s_1 #left_rgt_ar
{
display:none;
}
#s_1  #menu{
    display: none;
}
#s_1 #explore .cont-right {
    width: 90%;
    margin-top: 15px;
}
#s_1 #popup {
    width: 390px;
    background-size: 100%;
    margin: 60px auto;
    padding: 20px 20px 0 20px;
}
#s_1 #popup h4.myth {
    font-size: 12px;
}
#s_1 .closepop {
    width: 27px;
    height: 27px;
    background-size: 100%;
    margin-right: 5px;
    top: 15px;
}
#s_1 #popup p {
    font-size: 12px;
    padding: 8px 9px 6px 0;
}
#s_1 #popup a img {
    width: 70px;
}
#s_1 #popup a {
    margin-right: 5px;
}

#s_1 #footer {
    width: 100%;
    margin: 35px auto 15px auto;
    background-size: 110%;
    background: url(../img/footer-back-480.png) no-repeat center 24px;
}
#s_1 .othergames a {
    margin: 0 0 21px 0;
    width: 120px;
}
#s_1 .othergames a img {
    width: 160px;
    margin: 2px 25px;
}
#s_1 .othergames a:first-child img {
    width: 150px;
    margin: 0px;
}
#s_1 .othergames a:last-child img {
    width: 117px;
    margin: 2px 64px;
}
#s_1 .othergames {
    margin-left: 7px;
}

#s_1 #footer #social {
    clear: both;
    margin: 15px auto;
    width: 180px;
    display: block;
}
#s_1 #footer #social li {
    display: inline;
    text-align: center;
}
#footer #social {
    display: none;
}

/*switch mobile desktop*/

#s_0 .switch_desktop, #s_1 .switch_mobile  {
    display: none;
}
.switch_mobile, .switch_desktop {
    text-align: center;
    width: 100%;
    display: block;
    color: #c18f19;
}

.back{left: -45px;
    position: relative;
    top: -173px;}

.forward{left: 765px;
    position: relative;
    top: -173px;
}

.infiniteCarousel{ width:780px;}

.arrow.back{}